@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-family-main: "Inter", sans-serif;
  
  --width-main: 1220px;
  
  --color-main: #ee3131;
  --color-bg-main: #ee3131;
}